* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body ,  label , textarea , select {
  
  font-family: 'Poppins', sans-serif;
}

body {
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
  
  /* font-family: 'Staatliches', sans-serif; */

  background: #BFD7E4;
}

body::after {
  content: "";
  width: 100%;
  height: 465px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {

  color: #FFF;

  font-family: 'Staatliches', sans-serif;
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;

  margin-top: 107px;
}

header p {
  color: #FFF;

  font-size: 16px;
  font-style: normal;
  
  height: 46px;

  margin-bottom: 2px;
}


.header-wrapper {
  
  width: 750px;
  height: 133px;

  margin-top: 32px;
  background: #F67669;

  border-radius: 20px 20px 0px 0px;
}

.header-wrapper h2 {
  color: #FFF;

  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;

  margin: 50px 275px 50px;
}

.page {
  width: 750px;
  margin: auto;
}

/* Formulario */

form {
  min-height: 300px;
  background: #fff;
  
  padding-top: 31px;
  padding-left: 64px;
  padding-right: 64px;

  margin-bottom: 392px;
  
  border-radius: 0px 0px 20px 20px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  
}

fieldset {
  border: 0;
}

legend {
  
  font-family: 'Staatliches', sans-serif;
  color: #253B51;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; 

  display: flex;
  justify-content: center;
  text-align: center;
  
  border-bottom: 1px #E6E6F0 solid;
  padding-bottom: 8px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper span {
  color: #C1BCCC;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  padding-left: 10px;
}


span:hover {
  color: #83808a;
}

.input-wrapper textarea,
.input-wrapper select,
.input-wrapper input {
  
  height: 56px;

  border-radius: 8px;
  border: 1px solid #E6E6F0;

  background: #FAFAFC;

  padding: 10px;
}

.input-wrapper textarea {
  width: 608px;
  height: 167px;
}

.input-wrapper label {
  padding-top: 32px;
  padding-bottom: 8px;
}
 
/* Espaçamentos Nome/Sobre/Email */

.col-sup {
  display: flex;
  gap: 22px;
  /* border: 1px solid red; */
  /* flex-wrap: wrap;
  justify-content: space-between; */
}

.col-sup > div:nth-child(3){
  width: 100%;
}

.col-sup div {
  width: 300px;
}

/* Agendamento mentoria, espaçamentos */
.col3-date {
  display: flex;
  gap: 32px;
  /* width: 100%; */
}

.col3-date > div:nth-child(1){
  width: 300px;
  margin-right: 10px;
}   


.col4-begin {
  display: flex;
  gap: 10px;
}

.col4-begin > div:nth-child(1), 
.col4-begin > div:nth-child(2){
  width: 140px;
}

/* Setinha Select */

.fieldset-wrapper select {
  appearance: none;
  -webkit-appearance: none;
 
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.64984L5 5.61617L9 1.64984' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;

  background-position: right 16px top 50%;
}

/* CHECKBOX */

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  
  
  display: flex;
  align-items: center;
  gap: 8px; 
  
  padding-top: 30px;
  
  margin: 0;
}

.checkbox-wrapper input {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  opacity: 0;

  
}

.checkbox-wrapper label::before {
  content: "";
  width: 24px;
  height: 24px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Checkbox' d='M1 9C1 4.58172 4.58172 1 9 1H17C21.4183 1 25 4.58172 25 9V16.798C25 21.2163 21.4183 24.798 17 24.798H9C4.58172 24.798 1 21.2163 1 16.798V9Z' fill='%23E7E7EC' stroke='%23E6E6F0'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}


input:invalid {
  border: 1px solid red;
}

/* Button */

.button {
  width: 622px;
  height: 51px;

  background: #F67669;
  border: none;
  border-radius: 8px;

  margin: 64px auto;

  color: #FFF;

  font-family: 'Staatliches' , sans-serif;
  font-size: 20px;
  line-height: 26px;

  padding: 15px 40px;
}